.welcome {
  padding: 0 10px;
  background: url(../../../assets/img/water.jpg) center center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome__link {
  position: absolute;
  top: 25px;
  right: 100px;
}
.welcom__content {
  max-width: 380px;
  width: 100%;
  height: 420px;
  position: relative;
  perspective: 1000px;
}
.welcome__user,
.welcome__autor {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 38, 32, 0.6);
  border-radius: 5px;
  backface-visibility: hidden;
  transition: 1s;
}
.welcome__autor {
  transform: rotateY(180deg);
}
.welcome__btn {
  display: flex;
  align-items: center;
}
.welcome__footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
}
.welcome__footer p {
  text-align: center;
}
.welcome__user.welcome__user--rotate {
  transform: rotateY(180deg);
}
.welcome__autor.welcome__autor--rotate {
  transform: rotateY(360deg);
}
