.skill {
  margin-right: 100px;
}
.skill__title {
  font-size: 16px;
  font-weight: 500;
}
.skill__list {
  padding: 20px 20px 30px;
  list-style: none;
}
.skill__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.skill__name {
  min-width: 100px;
  margin-right: 5px;
}
